<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.vnicius.twitterclone">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
    >

        <activity android:name=".ui.result.SearchResultActivity"
                  android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>

        </activity>
        <activity android:name=".ui.searchable.SearchableActivity"
                  android:theme="@style/AppTheme"
                android:screenOrientation="portrait"
        >
            <meta-data android:name="android.app.default_searchable"
                       android:value=".ui.searchable.SearchableActivity" />
        </activity>
        <activity
                android:name=".ui.profile.ProfileActivity"
                android:label="@string/title_activity_profile"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".ui.main.MainActivity"
                android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.default_searchable"
                       android:value=".ui.searchable.SearchableActivity" />
        </activity>
    </application>

</manifest>